.wrapper {
  position: relative;
  height:100vh;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-weight:  300;
}

img {
  width: 100%;
  margin-bottom: 30px;
}

.stats {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.type {
  font-size: 1.2rem;
}
